@import "@/globals.scss";

.button {
  cursor: pointer;

  background-color: #f6f6f6;
  border: none;
  border-radius: 8px;
  transition: background 0.3s ease;

  @include media-breakpoint-down(xl) {
    min-width: 34px;
    min-height: 34px;
  }

  @include media-breakpoint-up(xl) {
    min-width: 46px;
    min-height: 46px;
  }

  &--transparent {
    background-color: #c2c2c200;
    border: 1px solid #f6f6f6;
  }

  &--rounded {
    border-radius: 100%;
    min-width: 34px;
    min-height: 34px;
  }

  &--black {
    background-color: black;
  }

  &:hover {
    background-color: #c2c2c2;
  }
}
