.button {
  cursor: pointer;
  width: 46px;
  height: 46px;
  background-color: #f6f6f6;
  border: none;
  border-radius: 8px;
  transition: background 0.3s ease;

  &--transparent {
    background-color: #c2c2c200;
    border: 1px solid #f6f6f6;
  }

  &:hover {
    background-color: #c2c2c2;
  }
}
