@import "@/globals.scss";

.container {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-right: auto;
  margin-left: auto;
  height: 100%;

  @include media-breakpoint-down(xl) {
    padding-right: 15px;
    padding-left: 15px;
  }

  @include media-breakpoint-up(xl) {
    padding-right: 10px;
    padding-left: 10px;
  }

  &--full {
    padding-right: 0px;
    padding-left: 0px;
  }
}
