@import "@/globals.scss";

.hero {
  padding-top: 10px;
  padding-bottom: 10px;

  @include media-breakpoint-down(xl) {
    height: 100%;
  }

  @include media-breakpoint-up(xl) {
    height: 100vh;
  }

  &__leftside {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
  }

  &__subtitle {
    @include media-breakpoint-down(xl) {
      font-size: 14px;
    }

    @include media-breakpoint-up(xl) {
      font-size: 18px;
    }
  }

  &__wrapper {
    display: grid;
    height: 100%;
    @include media-breakpoint-down(xl) {
      gap: 50px;
    }

    @include media-breakpoint-up(xl) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 45px;
    padding-right: 45px;
    height: 100%;
    width: 100%;

    @include media-breakpoint-down(xl) {
      gap: 8px;
    }

    @include media-breakpoint-up(xl) {
      position: absolute;
    }
  }

  &__image-wrapper {
    position: relative;
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
    z-index: 2;

    @include media-breakpoint-down(xl) {
      height: 429px;
    }

    @include media-breakpoint-up(xl) {
      height: 100%;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__image-btn-wrapper {
    display: flex;
    gap: 8px;
  }

  &__image-btn {
    position: absolute;
    background-color: #ffffff;
    border-radius: 20px;
    cursor: pointer;

    @include media-breakpoint-down(xl) {
      right: 10px;
      bottom: 10px;
      padding: 10px 15px;
    }

    @include media-breakpoint-up(xl) {
      right: 30px;
      bottom: 30px;
      padding: 16px 20px;
    }
  }

  &__image-text {
    @include media-breakpoint-down(xl) {
      font-size: 14px;
    }

    @include media-breakpoint-up(xl) {
      font-size: 18px;
    }
  }

  &__btn-wrapper {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  &__image-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: #f6f6f6;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 30px;

    @include media-breakpoint-down(xl) {
      justify-content: center;
    }
  }
}
