@import "@/globals.scss";

.title {
  font-weight: 400;
  text-align: center;

  @include media-breakpoint-down(xl) {
    font-size: 36px;
  }

  @include media-breakpoint-up(xl) {
    font-size: 56px;
  }

  &--center {
    text-align: center;
  }
}
