@import "@/globals.scss";

.logo {
  &__image {
    position: relative;

    overflow: hidden;

    @include media-breakpoint-down(xl) {
      width: 86px;
      height: 30px;
    }

    @include media-breakpoint-up(xl) {
      width: 128px;
      height: 44px;
    }

    img {
      position: absolute;
      width: 100%;
      height: auto;
    }
  }
}
