@import "@/globals.scss";

.nav-bar-right {
  position: absolute;
  z-index: 3;
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0);

  @include media-breakpoint-down(xl) {
    padding: 10px;
  }

  @include media-breakpoint-up(xl) {
    padding: 30px;
  }

  @include media-breakpoint-down(xl) {
    justify-content: flex-end;
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 57px;

    @include media-breakpoint-down(xl) {
      display: none;
    }

    p {
      cursor: pointer;
      width: 179px;
      font-weight: 500;
      color: white;
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
