@import "@/globals.scss";

.nav-bar {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media-breakpoint-down(xl) {
    padding: 10px;
  }

  @include media-breakpoint-up(xl) {
    padding: 30px 40px 30px 30px;
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
