@font-face {
  font-family: "Neue Montreal";
  src: url("../fonts/NeueMontreal-Medium.eot");
  src: local("../fonts/Neue Montreal Medium"),
    local("../fonts/NeueMontreal-Medium"),
    url("../fonts/NeueMontreal-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/NeueMontreal-Medium.woff2") format("woff2"),
    url("../fonts/NeueMontreal-Medium.woff") format("woff"),
    url("../fonts/NeueMontreal-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("../fonts/NeueMontreal-LightItalic.eot");
  src: local("../fonts/Neue Montreal Light Italic"),
    local("../fonts/NeueMontreal-LightItalic"),
    url("../fonts/NeueMontreal-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/NeueMontreal-LightItalic.woff2") format("woff2"),
    url("../fonts/NeueMontreal-LightItalic.woff") format("woff"),
    url("../fonts/NeueMontreal-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("../fonts/NeueMontreal-MediumItalic.eot");
  src: local("../fonts/Neue Montreal Medium Italic"),
    local("../fonts/NeueMontreal-MediumItalic"),
    url("../fonts/NeueMontreal-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/NeueMontreal-MediumItalic.woff2") format("woff2"),
    url("../fonts/NeueMontreal-MediumItalic.woff") format("woff"),
    url("../fonts/NeueMontreal-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("../fonts/NeueMontreal-Bold.eot");
  src: local("../fonts/Neue Montreal Bold"), local("../fonts/NeueMontreal-Bold"),
    url("../fonts/NeueMontreal-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/NeueMontreal-Bold.woff2") format("woff2"),
    url("../fonts/NeueMontreal-Bold.woff") format("woff"),
    url("../fonts/NeueMontreal-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("../fonts/NeueMontreal-BoldItalic.eot");
  src: local("../fonts/Neue Montreal Bold Italic"),
    local("../fonts/NeueMontreal-BoldItalic"),
    url("../fonts/NeueMontreal-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/NeueMontreal-BoldItalic.woff2") format("woff2"),
    url("../fonts/NeueMontreal-BoldItalic.woff") format("woff"),
    url("../fonts/NeueMontreal-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("../fonts/NeueMontreal-Italic.eot");
  src: local("../fonts/Neue Montreal Italic"),
    local("../fonts/NeueMontreal-Italic"),
    url("../fonts/NeueMontreal-Italic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/NeueMontreal-Italic.woff2") format("woff2"),
    url("../fonts/NeueMontreal-Italic.woff") format("woff"),
    url("../fonts/NeueMontreal-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("../fonts/NeueMontreal-Light.eot");
  src: local("../fonts/Neue Montreal Light"),
    local("../fonts/NeueMontreal-Light"),
    url("../fonts/NeueMontreal-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/NeueMontreal-Light.woff2") format("woff2"),
    url("../fonts/NeueMontreal-Light.woff") format("woff"),
    url("../fonts/NeueMontreal-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("../fonts/NeueMontreal-Regular.eot");
  src: local("../fonts/Neue Montreal Regular"),
    local("../fonts/NeueMontreal-Regular"),
    url("../fonts/NeueMontreal-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/NeueMontreal-Regular.woff2") format("woff2"),
    url("../fonts/NeueMontreal-Regular.woff") format("woff"),
    url("../fonts/NeueMontreal-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
